*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif ;
}
body{
    background-color:rgb(255, 249, 249);
    overflow-x: hidden;
    width: 100%;
}
.head-nav {
    display: flex;
    padding: 3px;
    background-color: #eee;
}
.head-nav li {
    display: inline;
}
.nav-right{
 margin-left: 420px;

}
.nav-right a{
    margin-right: 25px;
    text-decoration: none;
    color: rgba(0,0,0,.8);
    font-size: 8px;
    
}
.nav-left a{
    margin-left: 80px;
    text-decoration: none;
    color: rgba(0,0,0,.8);
    font-size: 8px;
    cursor: pointer;

} 
.headnav-log{
    display: flex;
    margin-top: 7px;
    height:  30px;

}
.logo img{
    width: 120px;
    margin-left: 55px;
    cursor: pointer;
}
.headnav-left li{
    display: inline;
    font-size: 15px;
}
.headnav-left a{
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 50px;
    color: rgba(0,0,0,.9);
    font-family:'Montserrat', sans-serif ;
    font-size: 13px;
    font-weight:50;
    
}
.headnav-right{
    margin-left: 240px;
    display: flex;
    
}
.headnav-right input{
    font-size: 10px;
    width: 220px;
    height: 26px;
    overflow: hidden;
    background-color:#eee ;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
   
}
.headnav-right p{
   margin-left: 20px;
   margin-right: 20px;
   cursor: pointer;
   
}
.headnav-right img{
    width: 25px;
    height: 23px;
    border-radius: 50%;
    cursor: pointer;

}
.nav-bar{
    padding: 15PX;
    font-size: 16px;
    font-family:'Montserrat', sans-serif ;
    margin-left: 28px;
    margin-bottom: 10px;
  

}
.nav-bar li{
    display: inline;
}
.nav-bar a{
    cursor: pointer;
    text-decoration: none;
    color: black;
   margin-right: 35px;
   font-weight: 545;

}
.add-img {
    margin: 0;
    display: flex;
    margin-bottom: 24px;
}
.add-img img{
    cursor: pointer;
    margin-right:8px;
    width: 388px;
}
.cards{
    display: flex;
    font-size: 10px;
     margin-left: 135px;
}
.cards img{
    width: 100px;
    margin-right: 20px;
}
.card-content p{
    text-align: center;
}
.poster-week {
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    
}
.poster-add {
    display: flex;
    margin-bottom: 10px;
}
.poster-add img{
    width: 588px;
    cursor: pointer;
}
.trending-card{
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
   
}
.card {
    display: flex;
}
.card img{
    width: 198px;
    cursor: pointer;
}
.card1{
    display: flex;
}

.offer-pack{
    display: flex;
    cursor: pointer;
}
.content-offer h2{
    margin-bottom: 18px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;

}
.offer-pack img{
    width: 50%;
}
.poster-trend img{
    width: 100%;
}
footer{
    
    background-color: #181818;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
.footer-head h3{
    padding-top: 40px;
  padding-left: 82px;
    color: #fdd835;
    cursor: pointer;
}
.row3{
    margin-left: 80px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 300;
}
.contact p{
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.email input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    padding: 13px 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fdd835;
    width: 55%;
    height: 34px;
}
.email button{
    cursor: pointer;
    background: #fdd835;
    border: 1px solid #fdd835;
    height: 32px;
    color: #000;
    padding: 0;
    width: 94px;
    font-weight: 450;
    border-radius: 3px;
}
.email button:hover{
    background-color: #f4db6c;
}
 